.header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

.game-card{
    transition: var(--transition);
}

.game-card-hidden {
    width: 70px;
    height: 100px;
    border: 10px solid var(--color-secondary);
    color: transparent;
    border-radius: 1rem;
    background: var(--background-back-card);
    position: relative;
}

.game-card:hover {
    background: var(--color-main);
    color: transparent;
}

.result,
.moves {
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
}

.cta {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
